extends ../shared/template

block content

  .project
    h1= project.title
    small= project.subtitle

    if(user && project.isOwner(user))
      a(href='/projects/#{project._id}/edit') Edit
      form(action='/projects/#{project._id}/photos', method='post', enctype='multipart/form-data')
        input(type='file', name='photos', multiple=true)
        button Add More Photos

    #photos
      each photo in project.photos
        a.photo(href='#{project.app}', target='_blank', style='background-image:url("#{photo.file}")', class=photo.isPrimary ? 'primary' : '')
          if(user && project.isOwner(user))
            form(action='/projects/#{project._id}/photos/#{photo.name}', method='post')
              input(type='hidden', name='_method', value='delete')
              button Delete
            if(!photo.isPrimary)
              form(action='/projects/#{project._id}/photos/#{photo.name}', method='post')
                input(type='hidden', name='_method', value='put')
                button Make Primary
    
    p= project.description
    //- h2= project.date
    //- h2= project.tags
    ul
      li: a.simple(href='#{project.git}', target='_blank') See code >

      if(user && project.isOwner(user))
        li
          form(action='/projects/#{project._id}', method='post')
            input(type='hidden', name='_method', value='delete')
            button Delete
